In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelBinarizer

In [23]:
scaller=MinMaxScaler(feature_range=(0,1))
enocder=LabelEncoder()

In [13]:
data=pd.read_csv("/home/amal/Datasets/train.csv").dropna()
data.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

In [4]:
missing_value_count=data.isnull().sum()
print(missing_value_count)
total_cells=np.product(data.shape)
total_missing=missing_value_count.sum()
percentage_missing=(total_missing/total_cells)*100
print('missing values is:',percentage_missing)

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64
missing values is: 0.0

In [13]:
col=data[['PassengerId','RoomService','Age','FoodCourt','ShoppingMall','VRDeck']]
scaled_cols=scaller.fit_transform(col)
scaled_cols = pd.DataFrame(scaled_cols, columns = col.columns)
print(col.max())
print(scaled_cols.max())
print(col.min())
print(scaled_cols.min())

PassengerId     9280_02
RoomService      9920.0
Age                79.0
FoodCourt       29813.0
ShoppingMall    12253.0
VRDeck          20336.0
dtype: object
PassengerId     1.0
RoomService     1.0
Age             1.0
FoodCourt       1.0
ShoppingMall    1.0
VRDeck          1.0
dtype: float64
PassengerId     0001_01
RoomService         0.0
Age                 0.0
FoodCourt           0.0
ShoppingMall        0.0
VRDeck              0.0
dtype: object
PassengerId     0.0
RoomService     0.0
Age             0.0
FoodCourt       0.0
ShoppingMall    0.0
VRDeck          0.0
dtype: float64

In [18]:
tex_col=data[["HomePlanet","CryoSleep","Cabin","VIP","Transported"]]

In [25]:
encoded=enocder.fit(tex_col)

ValueError: y should be a 1d array, got an array of shape (6606, 5) instead.