In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn import svm

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelBinarizer

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.model_selection import cross_validate

In [2]:
scaller=MinMaxScaler(feature_range=(0,1))
enocder=LabelEncoder()

In [3]:
df=pd.read_csv("/home/amal/Datasets/train.csv",index_col=False).dropna()
data=df.drop('Name',axis=1)
data.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False

In [4]:
# find out the is there any missing values by using isnull()
missing_value_count=data.isnull().sum()
print(missing_value_count)

total_cells=np.product(data.shape)
total_missing=missing_value_count.sum()
percentage_missing=(total_missing/total_cells)*100
print('missing values is:',percentage_missing)

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64
missing values is: 0.0

In [5]:
# now lets scale the data values usingn MinMax scales
columns=data[['PassengerId','RoomService','Age','FoodCourt','ShoppingMall','VRDeck']]
scaled_columns=scaller.fit_transform(columns)
scaled_columns= pd.DataFrame(scaled_columns, columns = columns.columns)
print("before scaling\n", columns.max())
print("after scaling\n",scaled_columns.max())

before scaling
 PassengerId     9280_02
RoomService      9920.0
Age                79.0
FoodCourt       29813.0
ShoppingMall    12253.0
VRDeck          20336.0
dtype: object
after scaling
 PassengerId     1.0
RoomService     1.0
Age             1.0
FoodCourt       1.0
ShoppingMall    1.0
VRDeck          1.0
dtype: float64

In [6]:
print("before scaling the min values \n",columns.min())
print("after the scaling the min values:\n",scaled_columns.min())

before scaling the min values
 PassengerId     0001_01
RoomService         0.0
Age                 0.0
FoodCourt           0.0
ShoppingMall        0.0
VRDeck              0.0
dtype: object
after the scaling the min values:
 PassengerId     0.0
RoomService     0.0
Age             0.0
FoodCourt       0.0
ShoppingMall    0.0
VRDeck          0.0
dtype: float64

In [7]:
# now lets see deal with the categorical text data
text_column_df=data[["HomePlanet","CryoSleep","Cabin","VIP","Transported"]]
text_column_df

     HomePlanet CryoSleep     Cabin    VIP  Transported
0        Europa     False     B/0/P  False        False
1         Earth     False     F/0/S  False         True
2        Europa     False     A/0/S   True        False
3        Europa     False     A/0/S  False        False
4         Earth     False     F/1/S  False         True
...         ...       ...       ...    ...          ...
8688     Europa     False    A/98/P   True        False
8689      Earth      True  G/1499/S  False        False
8690      Earth     False  G/1500/S  False         True
8691     Europa     False   E/608/S  False        False
8692     Europa     False   E/608/S  False         True

[6606 rows x 5 columns]

In [8]:
text_column_df['HomePlanet'].value_counts()
# here we have 3 category of data
# so that we have to map this 3 text category to numeric value

Earth     3566
Europa    1673
Mars      1367
Name: HomePlanet, dtype: int64

In [9]:
text_column_df['HomePlanet']=text_column_df['HomePlanet'].map({'Earth':0,'Europa':1,'Mars':2})

/tmp/ipykernel_22970/3259958645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_column_df['HomePlanet']=text_column_df['HomePlanet'].map({'Earth':0,'Europa':1,'Mars':2})

In [10]:
text_column_df

      HomePlanet CryoSleep     Cabin    VIP  Transported
0              1     False     B/0/P  False        False
1              0     False     F/0/S  False         True
2              1     False     A/0/S   True        False
3              1     False     A/0/S  False        False
4              0     False     F/1/S  False         True
...          ...       ...       ...    ...          ...
8688           1     False    A/98/P   True        False
8689           0      True  G/1499/S  False        False
8690           0     False  G/1500/S  False         True
8691           1     False   E/608/S  False        False
8692           1     False   E/608/S  False         True

[6606 rows x 5 columns]

In [11]:
# text_column_df["CryoSleep"].value_counts()
text_column_df["CryoSleep"]=enocder.fit_transform(text_column_df["CryoSleep"])

/tmp/ipykernel_22970/1766293913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_column_df["CryoSleep"]=enocder.fit_transform(text_column_df["CryoSleep"])

In [12]:
text_column_df["Cabin"].value_counts()
text_column_df["Cabin"]=enocder.fit_transform(text_column_df["Cabin"])

/tmp/ipykernel_22970/1804085514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_column_df["Cabin"]=enocder.fit_transform(text_column_df["Cabin"])

In [13]:
text_column_df["VIP"].value_counts()

False    6444
True      162
Name: VIP, dtype: int64

In [14]:
text_column_df["VIP"]=enocder.fit_transform(text_column_df["VIP"])

/tmp/ipykernel_22970/39321495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_column_df["VIP"]=enocder.fit_transform(text_column_df["VIP"])

In [15]:
text_column_df

      HomePlanet  CryoSleep  Cabin  VIP  Transported
0              1          0    137    0        False
1              0          0   1823    0         True
2              1          0      1    1        False
3              1          0      1    0        False
4              0          0   1825    0         True
...          ...        ...    ...  ...          ...
8688           1          0    134    1        False
8689           0          1   4293    0        False
8690           0          0   4298    0         True
8691           1          0   1778    0        False
8692           1          0   1778    0         True

[6606 rows x 5 columns]

In [16]:
training_data=pd.concat([scaled_columns,text_column_df],axis=1,join='inner')

In [17]:
training_data

,PassengerId,RoomService,Age,FoodCourt,ShoppingMall,VRDeck,HomePlanet,CryoSleep,Cabin,VIP,Transported
0,0.000000,0.000000,0.493671,0.000000,0.000000,0.000000,1,0,137,0,False
1,0.000108,0.010988,0.303797,0.000302,0.002040,0.002164,0,0,1823,0,True
2,0.000216,0.004335,0.734177,0.119948,0.000000,0.002410,1,0,1,1,False
3,0.000217,0.000000,0.417722,0.043035,0.030278,0.009491,1,0,1,0,False
4,0.000323,0.030544,0.202532,0.002348,0.012324,0.000098,0,0,1825,0,True
...,...,...,...,...,...,...,...,...,...,...,...
6597,0.999137,0.024194,0.329114,0.008117,0.041622,0.000000,0,0,2319,0,False
6598,0.999138,0.008669,0.265823,0.000101,0.012160,0.016178,1,0,747,0,False
6599,0.999460,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,2320,0,False
6604,0.999999,0.000000,0.405063,0.035186,0.000000,0.159077,1,0,702,0,True
6605,1.000000,0.012702,0.556962,0.157247,0.000000,0.000590,1,1,702,0,True

In [18]:
missing_value_count=training_data.isnull().sum()
print(missing_value_count)


total_cells=np.product(training_data.shape)
total_missing=missing_value_count.sum()
percentage_missing=(total_missing/total_cells)*100
print('missing values is:',percentage_missing)

PassengerId     0
RoomService     0
Age             0
FoodCourt       0
ShoppingMall    0
VRDeck          0
HomePlanet      0
CryoSleep       0
Cabin           0
VIP             0
Transported     0
dtype: int64
missing values is: 0.0

In [19]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 6605
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4999 non-null   float64
 1   RoomService   4999 non-null   float64
 2   Age           4999 non-null   float64
 3   FoodCourt     4999 non-null   float64
 4   ShoppingMall  4999 non-null   float64
 5   VRDeck        4999 non-null   float64
 6   HomePlanet    4999 non-null   int64
 7   CryoSleep     4999 non-null   int64
 8   Cabin         4999 non-null   int64
 9   VIP           4999 non-null   int64
 10  Transported   4999 non-null   bool
dtypes: bool(1), float64(6), int64(4)
memory usage: 434.5 KB

In [20]:
x=training_data.drop(['Transported'],axis=1)
y=training_data.Transported

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.33, random_state=42)

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
model=LogisticRegression()

In [25]:
model.fit(X_train,y_train)

LogisticRegression()

In [26]:
prediction=pd.DataFrame(model.predict(X_test))

In [27]:
Final_df=pd.concat([prediction,y_test],axis=1)

In [28]:
model.score(X_test,y_test)

0.7242424242424242

In [29]:
pipeline = Pipeline([
    ('normalizer', StandardScaler()), #Step1 - normalize data
    ('clf', LogisticRegression()) #step2 - classifier
])
pipeline.steps

[('normalizer', StandardScaler()), ('clf', LogisticRegression())]

In [30]:
clfs = []
clfs.append(LogisticRegression())
clfs.append(SVC())
clfs.append(SVC())
clfs.append(KNeighborsClassifier(n_neighbors=3))
clfs.append(DecisionTreeClassifier())
clfs.append(RandomForestClassifier())
clfs.append(GradientBoostingClassifier())

for classifier in clfs:
    pipeline.set_params(clf = classifier)
    scores = cross_validate(pipeline, X_train, y_train)
    print('---------------------------------')
    print(str(classifier))
    print('-----------------------------------')
    for key, values in scores.items():
        print(key,' mean ', values.mean())
        print(key,' std ', values.std())

---------------------------------
LogisticRegression()
-----------------------------------
fit_time  mean  0.013387537002563477
fit_time  std  0.008040247444754805
score_time  mean  0.002200031280517578
score_time  std  0.00019084686328822237
test_score  mean  0.7094737076947103
test_score  std  0.02311717054113475
---------------------------------
SVC()
-----------------------------------
fit_time  mean  0.38293042182922366
fit_time  std  0.02186381697267988
score_time  mean  0.0831303596496582
score_time  std  0.0066341902481054016
test_score  mean  0.7067866943310354
test_score  std  0.022288240445053033
---------------------------------
SVC()
-----------------------------------
fit_time  mean  0.417401647567749
fit_time  std  0.032832490883429565
score_time  mean  0.08103675842285156
score_time  std  0.005239891663496831
test_score  mean  0.7067866943310354
test_score  std  0.022288240445053033
---------------------------------
KNeighborsClassifier(n_neighbors=3)
-----------------------------------
fit_time  mean  0.007203340530395508
fit_time  std  0.0001337035576295576
score_time  mean  0.048905134201049805
score_time  std  0.0026888616372834837
test_score  mean  0.6521317180911586
test_score  std  0.023797667382496522
---------------------------------
DecisionTreeClassifier()
-----------------------------------
fit_time  mean  0.02141561508178711
fit_time  std  0.0005395405723409136
score_time  mean  0.0023552417755126954
score_time  std  0.00037164409740169985
test_score  mean  0.6306391807777257
test_score  std  0.024084886831070716
---------------------------------
RandomForestClassifier()
-----------------------------------
fit_time  mean  0.5192247867584229
fit_time  std  0.028819540295165598
score_time  mean  0.027237653732299805
score_time  std  0.0028847595581843375
test_score  mean  0.6825870646766169
test_score  std  0.019325012356314772
---------------------------------
GradientBoostingClassifier()
-----------------------------------
fit_time  mean  0.4882051467895508
fit_time  std  0.019081200948885792
score_time  mean  0.0034125328063964845
score_time  std  0.00011548848312656202
test_score  mean  0.7011079133480579
test_score  std  0.022444826749545267

In [35]:
performance_score=pd.DataFrame(scores)
models=pd.DataFrame(clfs)
performance=pd.concat([models,performance_score],axis=1)

In [36]:
performance

                                     0  fit_time  score_time  test_score
0                 LogisticRegression()  0.479263    0.003505    0.686567
1                                SVC()  0.468787    0.003224    0.667164
2                                SVC()  0.501383    0.003362    0.732836
3  KNeighborsClassifier(n_neighbors=3)  0.518975    0.003417    0.707463
4             DecisionTreeClassifier()  0.472618    0.003554    0.711510
5             RandomForestClassifier()       NaN         NaN         NaN
6         GradientBoostingClassifier()       NaN         NaN         NaN